#empathii {
  display: none;
  position: absolute;
  width: 0.8rem;
  height: 2.8rem;
  border-radius: 8px;

  margin-left: 4px;
  place-items: center;

  & button {
    display: none;
    position: absolute;
    top: -8px;
    right: -8px;
    width: 16px;
  }
  &:hover button {
    display: block;
    padding: 0px 2px;
  }
  /* span {  } */
  p {
    position: absolute;
    visibility: hidden;
  }
}
